/* Default styles */
#cart_setion {
    margin-top: 6rem;
  }
  
  #Cart_Items {
    display: flex;
    flex-wrap: wrap;
  }
  
  #cart_product_items {
    margin: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  #cart_image_box{
    padding: 10%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  #cart_image_box img {
   width:65%;
    height: auto;
  }
  
  #cart_content_box {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  #cart_content_box p:nth-child(2),
  #cart_content_box p:nth-child(3)
  {
    margin-top: 1rem ;
    font-weight: 600;
  }
  #cart_content_box button{
text-align: center;
padding: 6px 10px;
font-size: 15px;
cursor: pointer;
margin: 1rem 1rem;
transition: .5s ease;
  }
  #cart_content_box button:hover{
    background-color: rgb(46, 112, 255);
    color: #fff;
  }

  /* Media query for full width */
  @media (min-width: 768px) {
    #Cart_Items {
      display: flex;
    }
  
    #cart_product_items {
      flex: 0 0 calc(33.33% - 1rem); /* Adjust the width as needed */
    }

    #cart_content_box button{
        text-align: center;
        padding: 4px 8px;
        font-size: 15px;
        cursor: pointer;
        margin: 1rem 1rem;
        transition: .5s ease;
          }
  }
  