* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
  }
  a{
      color: black; 
  }
  body {
    background-color: rgb(228, 228, 228);
  }
  #navbar{
    padding:.6rem 0;
    padding-right: 30px;
      width: 100%;
      position: fixed;
      height: auto;
    box-shadow: rgba(255, 255, 255, 0.311) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0) 0px 8px 16px -8px;
    background-color: #fff;
    z-index:1000;
  }
  #NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #search_navbar,
  #search_Navbar
  {
    background-color: rgba(219, 231, 236, 0.645);
    height: 2.5rem;
    width: 35%;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 0px 10px;
    border-radius: 8px;
  }
  #search_navbar > input,
  #search_Navbar>input
   {
    outline: none;
    border: none;
    background-color: rgba(184, 217, 230, 0);
    font-size: 16px;
    width: 100%;
    margin-left: 12px;
  }
  
  #login {
    width: 110px;
    border-radius: 10px;
    position: relative;
  }
  #login a {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    align-items: center;
    padding: 10px 0px;
    position: relative;
  }
  
  
  #become-a-seller a,#cart a{
      display: flex;
      align-items: center;
  }
  #become-a-seller a>span,#cart a>span{
      margin-left: 5px;
  }
  
  /* ----------login hover-----------  */
  #loginhover:hover {
    background-color: blue;
  }
  
  #loginhover:hover #login>a{
    color: #fff;
    font-weight: 700;
  }
  
  /* Apply this style to your login link */
  #loginhover>#login a i.fa-angle-down {
    transition: 0.5s ease;
    font-size: 16px;
  }
  #loginhover:hover i.fa-angle-down {
    transform: rotate(180deg);
  }
  /* -------- login_popup_page----------------- */
  #login_popup_page{
      position: absolute;
      top:3.3rem;
      left: 60%;
   width: 280px;
   height: 12rem;
   background-color: #fff;
   display: none;
   flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  #login_popup_page>div{
      margin:0px 1rem;
  }
  
  #login_popup_page>div a{
      display: flex;
      align-items: center;
  }
  #login_popup_page>div a img{
      margin-right: 10px;
  }
  .signup{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
  }
  .signup>a ,
  #login_popup_page .show_after_login>a
  {
      justify-content: space-between;
      font-size: large;
      padding-top: 7px;
  }
  .signup a span:last-child ,
  #login_popup_page .show_after_login #change_content_afterLogIn
  {
      color: rgba(0, 0, 174, 0.626);
      font-weight: 550;
  }
  #login_popup_page .show_after_login{
    border-bottom: 2px solid black;
    padding-bottom: 10px; 
   
  }


  /* ---------when hover loginhover popup should visibile------- */
  #loginhover:hover #login_popup_page{
      display: flex;
  }
  
   .toogle_flipcart_logo{
    display: flex;
    align-items: center;
    position: relative;
      }
  
  #toogle_slider{
    display: none;
  }
  .toggle_label{
    right: 80%;
    position: absolute;
    font-size: large;
    display: none;
  }
  /*-------------- toogle slider------------- */
   .slidebar_context{
    position: absolute;
    z-index: 1200;
    top: 6.5rem;
    left: -100%;
    width: 250px;
    height: 20rem;
    background-color: #fff;
    transition: .5s ease;
  }
  
  .slidebar_context>.username{
  background-color: rgb(40, 86, 255);
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
 
  }
  .slidebar_context>.username #User_name span{
  margin-left: 10px;
  }
  .slidebar_context>.username img{
    width: 22px;
    height: 22px;
  } 
  .slidebar_context ul li{
    margin: 30px 0px;
    padding-left: 10px;  
  }
  .slidebar_context ul li a{
    display: flex;
    align-items: center;
  }
  .slidebar_context ul li a img{
    margin-right: 10px;
  }

  /*-------------- toogle slider end------------- */
  
  @media screen and (max-width:900px) {
  #navbar #become-a-seller #seller_navbar{
  display:none;
  }
  }
  @media screen and (max-width:738px) {
    #loginhover:hover #login_popup_page{
      display: none;
  }
  }
  @media screen and (max-width:609px) {
    #login {
    width: 80px;
  }
    #loginhover:hover {
      background-color: initial; 
    }
    #loginhover:hover #login>a{
    color:initial;
    font-weight:initial;
  }
  #loginhover>#login a i.fa-angle-down{
    display: none;
  }
    #NavBar #become-a-seller{
     display: none;
    }
    #navbar{
      height: 6.4rem;
    }
    #search_navbar {
    position: absolute;
   transform: translate( 15px ,3rem);
   width:90%;
    }

    .toggle_label{
    display: block;
  }

  #toogle_slider:checked ~ .slidebar_context{
    left: 0;
  }
  
  }